.person-skill{
  font-size: 2.0em;
}
.prog-bar{
  height: 6px;
  width: 40px;
  margin: 0px;
  display: inline-block;
}
.person-lastSkill{
  background-color: #f60;
  color: #fff;
}
.newbie{
  border-bottom: 2px solid #0f0;
}
.anger {
  border-top: 4px solid #f00;
}
.face {
  width:24px;
  height: 24px;
}
.old{
  color: #f00;
}
.rank-0, .rank-1, .rank-2{
  color: #06c;
}
.rank-3{
  color: #069;
}
.rank-4{
  color: #009;
}
.rank-6{
  color: #060;
  font-weight: bold;
}
.rank-7{
  color: #090;
  font-weight: bold;
}
.rank-8, .rank-9, .rank-10{
  color: #0c0;
  font-weight: bold;
}