.person-tree,
.recruit{
  white-space: nowrap;
  overflow-x: auto;
}
.recruit{
  .person{
    display: inline-block;
    border: 1px solid #ccc;
      min-width: 48px;

  }
}
.person-face{

//  float:left;
}
.person-info{
  display: inline-block;
  margin: 0px 20px;
  table{
    display: inline-block;
    width: auto;
    margin: 0;
    tbody > tr > td:first-child {
      width: 25%;
      background-color: #f6f6f0;
      font-weight: bold;
      text-align: right;
    }
  }
}
.person-panel,
.person-action,
.person-action-alert{
  display: inline-block;
}
.selected-person{
  margin: 0 auto;
  display: inline-block;
}