TABLE.person-table{
  width: 100%;
  margin: 0;
//  border-collapse : separate;
//  border-spacing : 10px 4px;
  tbody tr td {
    padding: 0px;
    vertical-align: top;
  }
}
.tree-container{
   display: inline-block;
}
.person-container{
  margin: 0px 2px;
//  padding: 8px 2px 8px 2px;
  border: 1px solid #ccc;
  position: relative;

  .sum {
    position: absolute;
    font-size: .8em;
    right: 0px;
    bottom: 0px;
    padding: 0px 4px;
    background-color: #090;
    color: #fff;
  }
}
.vline{
//  border-left: thick solid #999;
  width: 1px;
  height: 10px;
  background-color: #999;
  margin: 0px auto;
//  content: '';
}
.division{
}
.division-head{
  border: 1px solid #999;
border-width: 1px 1px 3px 1px;
//  background-color: #fff;
}

.person-root{
  background-color: #f8f8f8;
  margin: 10px auto;
  width: 25%;
  padding: 10px;
  border: 1px solid #999;
}
