TABLE.person-table{
  width: 100%;
  margin: 0;
//  border-collapse : separate;
//  border-spacing : 10px 4px;
  tbody tr td {
    padding: 0px;
    vertical-align: top;
  }
}
.person-container{
  background-color: #eee;
  margin: 0px 6px 10px 6px;
  padding: 12px 2px 8px 2px;
  position: relative;
}
.sum {
  position: absolute;
  font-size: 1.0em;
  top: 0px;
  right: 0px;
  padding: 0px 12px;
  background-color: #090;
  color: #fff;
}
.division{
//  border: 1px dashed #0c0;
  border: 2px solid #0c0;
  padding-bottom: 6px;
}

.person-root{
  background-color: #f8f8f8;
  margin: 10px auto;
  width: 25%;
  padding: 10px;
  border: 1px solid #999;
}
